<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JAM - Students Empty</title>
  <link rel="stylesheet" href="../../public/CSS/Generic.css">
  <link rel="stylesheet" href="../../public/CSS/Fonts.css">
  <link rel="stylesheet" href="../../public/CSS/Text.css">
  <link rel="stylesheet" href="../../public/CSS/Buttons.css">
  <link rel="stylesheet" href="../../public/CSS/StudentsList.css">
</head>
<body>
<%- include('./fragments/header.ejs')%>
<section id="content">
  <div class="content">
    <h2>Students</h2>
  </div>

  <div class="studentsListContainer" style="width: 150vh; height: 100vh; margin-left: 25vh; padding: 3vh">
    <div class="studentsListMerger" style="width: 150vh; height: 100vh;">
      <table class="studentsTable">
        <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Adress</th>
          <th>Zip code</th>
          <th>Birthdate</th>
          <th>PESEL</th>
        </tr>
        </thead>
      </table>
      <p style="color: black; text-align: center">No records found!</p>
      <ul style="list-style-type: none; position: relative; top: 15vh; left: 63vh">
        <li>
          <button onclick="window.location.href='Students.html'" class="loginButton" type="submit" style="float: left; display: table; margin: 15px">BACK</button>
        </li>
      </ul>
    </div>
  </div>
</section>

</body>
</html>