h2{
    font-family: college;
    font-size: 150px;
    text-align: right;
    -webkit-text-stroke: 5px #FFC107;
    -webkit-text-fill-color:transparent;
    position: relative;
    padding-top: 0;
    padding-right: 50px;
    margin: 0 auto;

}
p{
    font-family: Comfortaa;
    font-size: large;
    text-align: left;
    padding-left: 50px;
    vertical-align: center;
    position: relative;
    color: white;
}
.OpportunityText{
    width: 30%;
    height: 40vh;
    background-color: white;
    border-radius: 1vh;
    margin: 10vh;
    position: relative;
    transition: 0.5s ease;
}
.OpportunityText:hover{
    transform: scale(1.2);
}
.OpportunityText p{
    color: black;
    padding: 5vh;
    padding-top: 15vh;
    text-align: center;
}
.priceBox h3{
    font-family: Comfortaa;
    font-style: normal;
    color: black;
    text-align: center;
    font-size: 55px;
}
.priceBox p{
    color: black;
    padding: 0;
    text-align: center;
}
.LoginLabel{
    font-family: Comfortaa;
    font-style: normal;
    font-size: larger;
    text-align: center;
    color: black;
    position: relative;
}