<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>JAM - Grades</title>
    <link rel="stylesheet" href="../../public/CSS/Generic.css">
    <link rel="stylesheet" href="../../public/CSS/layout.css">
    <link rel="stylesheet" href="../../public/CSS/Fonts.css">
    <link rel="stylesheet" href="../../public/CSS/Text.css">
    <link rel="stylesheet" href="../../public/CSS/Buttons.css">
    <link rel="stylesheet" href="../../public/CSS/GradesList.css">
</head>
<body>

<%-include('../fragments/header')%>

<section id="content">
    <div class="content">
        <h2>Grades</h2>
    </div>

    <div class="gradesListContainer" style="width:auto; height: auto; margin-left: 25vh; padding: 3vh">
        <div class="gradesListMerger" style="width: auto; height: auto; overflow-y: scroll; overflow-x: hidden">
            <table class="gradesTable">
                <thead>
                <tr>
                    <th>Student</th>
                    <th>Grade</th>
                    <th>Comment</th>
                    <th>Subject</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Jan Kowalski</td>
                    <td>
                        <square class="sqaure" style="background-color: red">1</square>
                    </td>
                    <td>Kolokwium 1</td>
                    <td>English</td>
                    <td>
                        <ul style="list-style-type: none">
                            <li>
                                <a href="/grades/details/edit/1"><button class="loginButton" style="margin-bottom: 5px">Edit</button> </a>
                            </li>
                            <li>
                                <button class="loginButton" style="margin-bottom: 5px">Delete</button>
                            </li>
                            <li>
                                <a href="/grades/details/1"><button class="loginButton" style="margin-bottom: 5px">Details</button> </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td>Jan Kowalski</td>
                    <td>
                        <square class="sqaure" style="background-color: red">2</square>
                    </td>
                    <td>Egzamin 1</td>
                    <td>Russian</td>
                    <td>
                        <ul style="list-style-type: none">
                            <li>
                                <a href="/grades/details/edit/1"><button class="loginButton" style="margin-bottom: 5px">Edit</button> </a>
                            </li>
                            <li>
                                <button class="loginButton" style="margin-bottom: 2vh">Delete</button>
                            </li>
                            <li>
                                <button class="loginButton" style="margin-bottom: 2vh" onclick="window.location.href='/GradeDetail.html'">Details</button>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td>Jan Kowalski</td>
                    <td>
                        <square class="sqaure" style="background-color: yellow">3</square>
                    </td>
                    <td>Kolokwium 2</td>
                    <td>Japaneese</td>
                    <td>
                        <ul style="list-style-type: none">
                            <li>
                                <a href="/grades/details/edit/1"><button class="loginButton" style="margin-bottom: 5px">Edit</button> </a>
                            </li>
                            <li>
                                <button class="loginButton" style="margin-bottom: 2vh">Delete</button>
                            </li>
                            <li>
                                <button class="loginButton" style="margin-bottom: 2vh" onclick="window.location.href='/GradeDetail.html'">Details</button>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td>Jan Kowalski</td>
                    <td>
                        <square class="sqaure" style="background-color: yellow">4</square>
                    </td>
                    <td>Egzamin 2</td>
                    <td>English</td>
                    <td>
                        <ul style="list-style-type: none">
                            <li>
                                <a href="/grades/details/edit/1"><button class="loginButton" style="margin-bottom: 5px">Edit</button> </a>
                            </li>
                            <li>
                                <button class="loginButton" style="margin-bottom: 2vh">Delete</button>
                            </li>
                            <li>
                                <button class="loginButton" style="margin-bottom: 2vh" onclick="window.location.href='/GradeDetail.html'">Details</button>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td>Jan Kowalski</td>
                    <td>
                        <square class="sqaure" style="background-color: greenyellow">5</square>
                    </td>
                   <td>Kolokwium 3</td>
                    <td>English</td>
                    <td>
                        <ul style="list-style-type: none">
                            <li>
                                <a href="/grades/details/edit/1"><button class="loginButton" style="margin-bottom: 5px">Edit</button> </a>
                            </li>
                            <li>
                                <button class="loginButton" style="margin-bottom: 2vh">Delete</button>
                            </li>
                            <li>
                                <button class="loginButton" style="margin-bottom: 2vh" onclick="window.location.href='/GradeDetail.html'">Details</button>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td>Jan Kowalski</td>
                    <td>
                        <square class="sqaure" style="background-color: greenyellow">6</square>
                    </td>
                    <td>Egzamin 3</td>
                    <td>Portugal</td>
                    <td>
                        <ul style="list-style-type: none">
                            <li>
                                <a href="/grades/details/edit/1"><button class="loginButton" style="margin-bottom: 5px">Edit</button> </a>
                            </li>
                            <li>
                                <button class="loginButton" style="margin-bottom: 2vh">Delete</button>
                            </li>
                            <li>
                                <button class="loginButton" style="margin-bottom: 2vh" onclick="window.location.href='/GradeDetail.html'">Details</button>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>

            <a href="/grades/addGrade"><button class="loginButton" style="margin: 1vh; align-items: center; left: 45%">Add Grade</button></a>
        </div>

    </div>

</section>


</body>
</html>
