<nav>
    <div id="banner">
        <div class="upperBanner">
            <img class="logo" src="/public/Assets/logo.ong.png" alt="Jam logo">
            <button class="loginButton" onclick="window.location.href='Login.html'" style="left: 85%; top: -3px;">SIGN IN</button>
        </div>
    </div>
    <div class="ButtonsBanner">
        <div class="ButtonsBox">
            <div class="ButtonsContainer">
                <ul class="ButtonsList">
                    <li class="navButtonListContainer">
                        <a href="/"><button class="navButton">Home</button></a>
                    </li>
                    <li class="navButtonListContainer">
                       <a href="/Students"><button class="navButton">Students</button></a>
                    </li>
                    <li class="navButtonListContainer">
                        <a href="/grades"><button class="navButton">Grades</button></a>
                    </li>
                    <li class="navButtonListContainer">
                        <a href="/subjects"><button class="navButton">Subjects</button> </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>